<header id="header">
  <h1><a href="/">BustIt</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="/" class='home-button'>Home</a></li>
      <li><a href="/#/rooms" class='room-button'>Play Rooms</a></li>
      <li ng-show="isAuthenticated()"><a class='home-button'>Welcome, {{currentUser.display_name}}</a></li>
      <li ng-show="isAuthenticated()"><a ng-click="logout()">Log out</a></li>
      <li ng-hide="isAuthenticated()"><a ng-click="authenticate('facebook')">Sign in with Facebook</a></li>
    </ul>
  </nav>
</header>