<!-- Banner -->
<section id="banner">
  <h2>Find Out The Spy</h2>
  <p>Perfect for 7 players plus 1 judge and tons of audience.</p>
  <ul class="actions">
    <li>
      <a href="#one" class="button big" ng-click='jumpToTheRules()'>Rules</a>
    </li>
  </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="container">
    <header class="major">
      <h2>Rules are simple</h2>
      <p>Citizens try to find out the spy, while spy tries stay until the last round.</p>
    </header>
    <div class="row 150%">
      <div class="4u 12u$(medium)">
        <section class="box">
          <i class="icon big rounded color1 fa-users"></i>
          <h3>Get your word</h3>
          <p>One play will get a special word that is slightly different from the one the rest get(e.g. Accounting and Finance). Each round each player will give one sentence of description about his/her word. The spy should try to guess what other people's word and don't be so obvious that everybody knows right away that you are the spy. PS: you don't want to be so specific that the spy can figure out what your word is or too broad that people will think you are a spy. </p>
        </section>
      </div>
      <div class="4u 12u$(medium)">
        <section class="box">
          <i class="icon big rounded color9 fa-hand-o-up"></i>
          <h3>Vote</h3>
          <p>After each person gave their desription, they get to vote on whom they think is the spy. The one getting the most votes will be out. If the spy gets voted out, game is over. If not, next round starts. Then the rest vote on them again. This continues until there are only two people left, which means spy wins. PS: if more than one person get the most and equal amount of votes, they need to give a new description again.</p>
        </section>
      </div>
      <div class="4u$ 12u$(medium)">
        <section class="box">
          <i class="icon big rounded color6 fa-trophy"></i>
          <h3>Budge</h3>
          <p>Your win/loss will define your badge that show how good that you play this game. Now let's see where we are gonna play in a <a href="#two" ng-click='jumpToTheRooms()'>room</a>.</p>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
  <div class="container">
    <header class="major">
      <h2>How it works</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>
    </header>
    <section class="profiles">
      <div class="row">
        <section class="3u 6u(medium) 12u$(xsmall) profile">
          <img src="images/profile_placeholder.gif" alt="" />
          <h4>Lorem ipsum</h4>
          <p>Lorem ipsum dolor</p>
        </section>
        <section class="3u 6u$(medium) 12u$(xsmall) profile">
          <img src="images/profile_placeholder.gif" alt="" />
          <h4>Voluptatem dolores</h4>
          <p>Ullam nihil repudi</p>
        </section>
        <section class="3u 6u(medium) 12u$(xsmall) profile">
          <img src="images/profile_placeholder.gif" alt="" />
          <h4>Doloremque quo</h4>
          <p>Harum corrupti quia</p>
        </section>
        <section class="3u$ 6u$(medium) 12u$(xsmall) profile">
          <img src="images/profile_placeholder.gif" alt="" />
          <h4>Voluptatem dicta</h4>
          <p>Et natus sapiente</p>
        </section>
      </div>
    </section>
    <footer>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolore illum, temporibus veritatis eligendi, aliquam, dolor enim itaque veniam aut eaque sequi qui quia vitae pariatur repudiandae ab dignissimos ex!</p>
      <ul class="actions">
        <li>
          <a href="/rooms" class="button big room-button">Enter playrooms</a>
        </li>
      </ul>
    </footer>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
  <div class="container">
    <header class="major">
      <h2>Consectetur adipisicing elit</h2>
      <p>Lorem ipsum dolor sit amet. Delectus consequatur, similique quia!</p>
    </header>
  </div>
  <div class="container 50%">
    <form action="#" method="post">
      <div class="row uniform">
        <div class="6u 12u$(small)">
          <input name="name" id="name" value="" placeholder="Name" type="text">
        </div>
        <div class="6u$ 12u$(small)">
          <input name="email" id="email" value="" placeholder="Email" type="email">
        </div>
        <div class="12u$">
          <textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input value="Send Message" class="special big" type="submit"></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>

