<!-- Rooms -->
<section id="rooms" class="wrapper style1 special">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>{{room.name}}</h2>


    <p ng-if='count < 7' class="lead">
        Need {{7-count}} more player
    </p>
    <p ng-if='count === 7' class="lead">
        You have enough people to start the game!
    </p>
    <br/>
    <button ng-hide='showform' ng-if='count < 7'class='create-room-button button special' ng-click='showForm()'>Join</button>

    <button class='create-room-button button special' ng-click='closeRoom()'>Close room</button>

    <form ng-show='showform' novalidate class="css-form" ng-submit="addPlayer(player)">
        <br/>
        <br/>
        <br/>
        <br/>
        Phone Number
        <input type="text" ng-model="player.phoneNumber" required /><br />
        <input type="submit" value="Add" />
        <input type="button" ng-click="cancel()" value="Cancel" />
    </form>
    </div>
  </div>
</section>

<!-- player list -->
<section id="players" ng-if='count !== 0' class="wrapper style2 special">
  <div class="container">
      <div class="method">
        <table>
          <th>Name</th>
          <th>Keyword</th>
          <th>Status</th>
          <tr ng-repeat="player in room.players">
            <td>{{player.display_name}}</td>
            <td>keyword</td>
            <td>Yes</td
          </tr>
        </table>
      </div>
  </div>

  <button ng-if='count >= 5' class='button special' ng-click='startGame()'>Let's begin!</button>
</section>

