<!-- Rooms -->
<section id="rooms" class="wrapper style1 special">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>{{room.name}} <small ng-if='hasJudge'>Judge: {{judge.display_name}}</small><small ng-show='!hasJudge'>Need a judge</small></h2>
    <p ng-if='count < 7' class="lead">
        {{7-count}} more spots
    </p>
    <p ng-if='count === 7' class="lead">
        You have enough people to start the game!
    </p>
    <br/>
    <div ng-if="room.status !== 'in progress'">
    <button class='create-room-button button special' ng-click='showGameForm()'>
      <span ng-if="currentUser.role === nil">Join</Span>
      <span ng-if="currentUser.role !== nil">Change role</Span>
    </button>

    <button class='create-room-button button special' ng-click='closeRoom()'>Close room</button>
    <form ng-show='showJoinGameForm' novalidate class="css-form" ng-submit="addPlayer(player)">
        <br/>
        <br/>
        <br/>
        <br/>
        <label> Phone number: </label><br>
        <input type="text" ng-model="player.phoneNumber" ng-init="player.phoneNumber = currentUser.phone_number" required/><br />
        <label for="role"> Role select: </label><br>
        <select name="role" ng-model="player.role" ng-init="player.role = currentUser.role" required>
          <!-- need to build a filter if people want to join as an audience if the players are full already-->
          <option value="judge">Judge</option>
          <option value="player">Player</option>
          <option value="audience">Audience</option>
        </select>
        <br/>
        <p ng-if='joinGameMessage'> {{joinGameMessage}} </p>
        <br/>
        <input ng-if='!currentUser.role' type="submit" value="Join" />
        <input ng-if='currentUser.role' type="submit" value="Change" />
        <input type="button" ng-click="exitGame()" value="exit the game" />
        <input type="button" ng-click="cancel()" value="Cancel" />
    </form>
    </div>
   </div>
  </div>
</section>

<!-- player list -->
<!-- need to think about who can see the key words and who can not -->
<section id="players" ng-if='count !== 0 && currentUser.role' class="wrapper style2 special">
  <div class="container">
      <div class="method">
        <div ng-if="room.status === 'in progress' && currentUser.role !== 'judge' && currentUser.role !=='audience'">
          <h3>Keyword: </h3>
          <br/>
          <h1>{{currentUser.keyword}}</h1>
        </div>
        <!-- ng-if="room.status !== 'in progress' || currentUser.role === 'judge' || currentUser.role ==='audience'" -->
        <table>
          <th>Name</th>
          <th>Role</th>
          <th>Keyword</th>
          <th>Status</th>
          <tr ng-repeat='player in room.players | gamePlayerFilter'>
            <td>{{player.display_name}}</td>
            <td>{{player.role}}</td>
            <td>{{player.keyword}}</td>
            <td><a ng-click='voteOut(player.id)'>Vote out</a></td>
          </tr>
        </table>
      </div>
      <p ng-if='message'>{{message}}</p>
  </div>

  <!-- need to add ng-hide="room.status === 'in progress'" for start game button -->

  <button ng-if='count >= 5' ng-hide="gameStarted" class='button special' ng-click='startGame()'>Machine picked keyword pair and begin!</button>
  <button ng-if='count >= 5' ng-hide="gameStarted" class='button special' ng-click='showKeywordForm()'>Write your own keyword and begin!</button>

  <form ng-show='showWriteKeywordForm' novalidate class="css-form" ng-submit="addKeywordPair(keyword)">
        <br/>
        <br/>
        <br/>
        <br/>
        <label> Spy keyword: </label><br>
        <input type="text" ng-model="keyword.keyword_one" required/><br />
        <label> Citizen keyword: </label><br>
        <input type="text" ng-model="keyword.keyword_two" required/><br />
        <br/>
        <input type="submit" value="Let's begin" />
        <input type="button" ng-click="showKeywordForm()" value="Close" />
    </form>

</section>

