<!-- Rooms -->
<section id="rooms" class="wrapper style1 special">
  <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Available rooms</h2>
    <p class="lead">
        instruction~~~~~~~~~~~
    </p>

    <hr />
    <div class="method">
        <div class="row margin-0 list-header hidden-sm hidden-xs">
            <div class="col-md-4"><div class="header">Name</div></div>
            <div class="col-md-3"><div class="header">Number of players</div></div>
            <div class="col-md-5"><div class="header">Description</div></div>
        </div>

    <div ng-repeat="room in rooms">
        <div class="row margin-0">
            <div class="col-md-4">
                <div class="cell">
                    <div class="propertyname">
                        <a href="/#/rooms/{{$index}}">
                          {{room.name}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cell">
                    <div class="isrequired">
                        {{room.players.length}}
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="cell">
                    <div class="description">
                        {{room.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <br/>
        <button class='create-room-button button special' ng-click='jumpToAddRooms()'>Create a new room</button>
    </div>
  </div>
</section>

<!-- form -->
<section id="form" class="wrapper style2 special">
  <div class="container">
    <header class="major">
      <h2>Let's create a room and invite your friend to join!</h2>
    </header>
    <section class="profiles">
        <form novalidate class="css-form" ng-submit="createRoom(room)">
            Give a name for the room: <br/>
            <input type="text" ng-model="room.name" required /><br />
            Description <br/>
            <input type="text" ng-model="room.description" required /><br />
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" value="Save" />
        </form>
    </section>
  </div>
</section>

